### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
import pandas as pd
import numpy as np

In [7]:
school_data = "Resources/schools_complete.csv"
school_data_df = pd.read_csv(school_data)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [8]:
student_data = "Resources/students_complete.csv"
student_data_df = pd.read_csv(student_data)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data_df, school_data_df, on= "school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
total_schools=len(school_data_complete["school_name"].unique())
total_schools

15

In [11]:
total_students=len(school_data_complete["student_name"])
total_students

39170

In [12]:
total_budget=sum(school_data_complete["budget"].unique())

total_budget

24649428

In [13]:
average_math_score=round(school_data_complete["math_score"].mean(), 2)
average_math_score

78.99

In [14]:
average_reading_score=round(school_data_complete["reading_score"].mean(), 2)
average_reading_score

81.88

In [15]:
passing_math=sum(school_data_complete["math_score"].ge(70))
passing_math

29370

In [16]:
percent_passing_math=round((passing_math/total_students)*100, 2)
percent_passing_math

74.98

In [17]:
passing_reading=sum(school_data_complete["reading_score"].ge(70))
passing_reading

33610

In [18]:
percent_passing_reading=round((passing_reading/total_students)*100, 2)
percent_passing_reading

85.81

In [19]:
# caluclate percentage of students who passed math and reading
passing_math_and_reading=len(school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)])
passing_math_and_reading

25528

In [20]:
percent_overall = round((passing_math_and_reading / total_students)*100, 2)
percent_overall

65.17

In [21]:
district_summary = pd.DataFrame ({"Total Schools": [total_schools],
                                "Total Students": [total_students], 
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],                                               "Average Reading Score": [average_reading_score],
                                "% Passing Math": [percent_passing_math],
                                "% Passing Reading": [percent_passing_reading],
                                "% Overall Passing": [percent_overall]})


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

In [22]:
school_names=school_data_complete.set_index("school_name").groupby(["school_name"])
print(school_names)
school_names.head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ff9a9dc4a50>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [23]:
school_type=school_names["type"].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [24]:
total_students_per_school=school_names["student_name"].count()
total_students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [25]:
total_school_budget=school_names["budget"].first()
total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [26]:
per_student_budget = total_school_budget / total_students_per_school
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [27]:
average_math_score_per_school=round(school_names["math_score"].mean(), 2)
average_math_score_per_school

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [28]:
average_reading_score_per_school=round(school_names["reading_score"].mean(), 2)
average_reading_score_per_school

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [29]:
passing_math_per_school=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["student_name"].count()
passing_math_per_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [30]:
percent_passing_math_per_school=passing_math_per_school/total_students_per_school
percent_passing_math_per_school

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: student_name, dtype: float64

In [31]:
passing_reading_per_school=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["student_name"].count()
passing_reading_per_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [32]:
percent_passing_reading_per_school=passing_reading_per_school/total_students_per_school
percent_passing_reading_per_school

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: student_name, dtype: float64

In [33]:
overall_per_school=school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("school_name")["student_name"].count()
overall_per_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [34]:
overall_percent_passing=(overall_per_school/total_students_per_school)
overall_percent_passing

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: student_name, dtype: float64

In [35]:
school_summary_final=pd.DataFrame({
                            "School Type": school_type,
                            "Total Students": total_students_per_school,
                            "Total School Budget": total_school_budget,
                            "Per Student Budget": per_student_budget,
                            "Average Math Score": average_math_score_per_school,
                            "Average Reading Score": average_reading_score_per_school,
                            "% Passing Math": percent_passing_math_per_school,
                            "% Passing Reading": percent_passing_reading_per_school,
                            "% Overall Passing": overall_percent_passing})

school_summary_final = school_summary_final [[
                                            "School Type",
                                            "Total Students",
                                            "Total School Budget",
                                            "Per Student Budget",
                                            "Average Math Score",
                                            "Average Reading Score",
                                            "% Passing Math",
                                            "% Passing Reading",
                                            "% Overall Passing"]]

school_summary_final["Total School Budget"]=school_summary_final["Total School Budget"].map("${:,.2f}".format)
school_summary_final["Per Student Budget"]=school_summary_final["Per Student Budget"].map("${:.2f}".format)
school_summary_final["% Passing Math"]=school_summary_final["% Passing Math"].map("{:.1%}".format)
school_summary_final["% Passing Reading"]=school_summary_final["% Passing Reading"].map("{:.1%}".format)
school_summary_final["% Overall Passing"]=school_summary_final["% Overall Passing"].map("{:.1%}".format)


school_summary_final

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.7%,81.9%,54.6%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.3%,79.3%,54.3%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.4%,97.1%,90.6%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.5%,96.3%,89.2%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.6%,95.9%,90.5%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.4%,80.2%,53.0%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.9%,95.9%,89.9%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.3%,97.3%,90.9%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.9%,96.5%,90.6%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.96,93.3%,96.6%,90.3%

In [36]:
top_five_schools=school_summary_final.sort_values ("% Overall Passing", ascending=False)
top_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.3%,97.3%,90.9%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.4%,97.1%,90.6%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.9%,96.5%,90.6%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.6%,95.9%,90.5%

In [37]:
bottom_five_schools=school_summary_final.sort_values("% Overall Passing", ascending=True)
bottom_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.4%,80.2%,53.0%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.8%,80.9%,53.5%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.1%,81.2%,53.5%

In [39]:
ninth_math=school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby("school_name")["math_score"].mean()
ninth_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [41]:
tenth_math=school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby("school_name")["math_score"].mean()
tenth_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [42]:
eleventh_math=school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby("school_name")["math_score"].mean()
eleventh_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [43]:
twelfth_math=school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby("school_name")["math_score"].mean()
twelfth_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [54]:
math_by_grade=pd.DataFrame({"9th":ninth_math,
                            "10th":tenth_math,
                            "11th":eleventh_math,
                            "12th": twelfth_math})


math_by_grade["9th"]=math_by_grade["9th"].map("{:.2f}".format)
math_by_grade["10th"]=math_by_grade["10th"].map("{:.2f}".format)
math_by_grade["11th"]=math_by_grade["11th"].map("{:.2f}".format)
math_by_grade["12th"]=math_by_grade["12th"].map("{:.2f}".format)


math_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208