### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [66]:
import pandas as pd
import numpy as np

In [67]:
school_data = "Resources/schools_complete.csv"
school_data_df = pd.read_csv(school_data)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [68]:
student_data = "Resources/students_complete.csv"
student_data_df = pd.read_csv(student_data)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [69]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data_df, school_data_df, on= "school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [70]:
total_schools=len(school_data_complete["school_name"].unique())
total_schools

15

In [71]:
total_students=len(school_data_complete["student_name"])
total_students

39170

In [72]:
total_budget=sum(school_data_complete["budget"].unique())

total_budget

24649428

In [73]:
average_math_score=round(school_data_complete["math_score"].mean(), 2)
average_math_score

78.99

In [74]:
average_reading_score=round(school_data_complete["reading_score"].mean(), 2)
average_reading_score

81.88

In [75]:
passing_math=sum(school_data_complete["math_score"].ge(70))
passing_math

29370

In [76]:
percent_passing_math=round((passing_math/total_students)*100, 2)
percent_passing_math

74.98

In [77]:
passing_reading=sum(school_data_complete["reading_score"].ge(70))
passing_reading

33610

In [78]:
percent_passing_reading=round((passing_reading/total_students)*100, 2)
percent_passing_reading

85.81

In [79]:
# caluclate percentage of students who passed math and reading
passing_math_and_reading=len(school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)])
passing_math_and_reading

25528

In [80]:
percent_overall = round((passing_math_and_reading / total_students)*100, 2)
percent_overall

65.17

In [81]:
district_summary = pd.DataFrame ({"Total Schools": [total_schools],
                                "Total Students": [total_students], 
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],                                               "Average Reading Score": [average_reading_score],
                                "% Passing Math": [percent_passing_math],
                                "% Passing Reading": [percent_passing_reading],
                                "% Overall Passing": [percent_overall]})


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

In [82]:
school_names=school_data_complete.set_index("school_name").groupby(["school_name"])
print(school_names)
school_names.head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ff9ac560690>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [83]:
school_type=school_names["type"].first()

In [84]:
total_students_per_school=school_names["student_name"].count()

In [85]:
total_school_budget=school_names["budget"].first()

In [86]:
per_student_budget = total_school_budget / total_students_per_school

In [87]:
average_math_score_per_school=round(school_names["math_score"].mean(), 2)

In [88]:
average_reading_score_per_school=round(school_names["reading_score"].mean(), 2)

In [89]:
passing_math_per_school=school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["student_name"].count()

In [90]:
percent_passing_math_per_school=passing_math_per_school/total_students_per_school

In [91]:
passing_reading_per_school=school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["student_name"].count()

In [92]:
percent_passing_reading_per_school=passing_reading_per_school/total_students_per_school

In [93]:
overall_per_school=school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("school_name")["student_name"].count()

In [94]:
overall_percent_passing=(overall_per_school/total_students_per_school)

In [95]:
school_summary_final=pd.DataFrame({
                            "School Type": school_type,
                            "Total Students": total_students_per_school,
                            "Total School Budget": total_school_budget,
                            "Per Student Budget": per_student_budget,
                            "Average Math Score": average_math_score_per_school,
                            "Average Reading Score": average_reading_score_per_school,
                            "% Passing Math": percent_passing_math_per_school,
                            "% Passing Reading": percent_passing_reading_per_school,
                            "% Overall Passing": overall_percent_passing})

school_summary_final = school_summary_final [[
                                            "School Type",
                                            "Total Students",
                                            "Total School Budget",
                                            "Per Student Budget",
                                            "Average Math Score",
                                            "Average Reading Score",
                                            "% Passing Math",
                                            "% Passing Reading",
                                            "% Overall Passing"]]

school_summary_final["Total School Budget"]=school_summary_final["Total School Budget"].map("${:,.2f}".format)
school_summary_final["Per Student Budget"]=school_summary_final["Per Student Budget"].map("${:.2f}".format)
school_summary_final["% Passing Math"]=school_summary_final["% Passing Math"].map("{:.1%}".format)
school_summary_final["% Passing Reading"]=school_summary_final["% Passing Reading"].map("{:.1%}".format)
school_summary_final["% Overall Passing"]=school_summary_final["% Overall Passing"].map("{:.1%}".format)


school_summary_final

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.7%,81.9%,54.6%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.3%,79.3%,54.3%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.4%,97.1%,90.6%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.5%,96.3%,89.2%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.6%,95.9%,90.5%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.4%,80.2%,53.0%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.9%,95.9%,89.9%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.3%,97.3%,90.9%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.9%,96.5%,90.6%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.96,93.3%,96.6%,90.3%

In [96]:
top_five_schools=school_summary_final.sort_values ("% Overall Passing", ascending=False)
top_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.3%,97.3%,90.9%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.4%,97.1%,90.6%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.9%,96.5%,90.6%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.6%,95.9%,90.5%

In [97]:
bottom_five_schools=school_summary_final.sort_values("% Overall Passing", ascending=True)
bottom_five_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.4%,80.2%,53.0%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.8%,80.9%,53.5%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.1%,81.2%,53.5%

In [108]:
ninth_math=school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby("school_name")["math_score"].mean()

In [109]:
tenth_math=school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby("school_name")["math_score"].mean()

In [110]:
eleventh_math=school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby("school_name")["math_score"].mean()

In [111]:
twelfth_math=school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby("school_name")["math_score"].mean()

In [102]:
math_by_grade=pd.DataFrame({"9th":ninth_math,
                            "10th":tenth_math,
                            "11th":eleventh_math,
                            "12th": twelfth_math})


math_by_grade["9th"]=math_by_grade["9th"].map("{:.2f}".format)
math_by_grade["10th"]=math_by_grade["10th"].map("{:.2f}".format)
math_by_grade["11th"]=math_by_grade["11th"].map("{:.2f}".format)
math_by_grade["12th"]=math_by_grade["12th"].map("{:.2f}".format)


math_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [112]:
ninth_reading=school_data_complete.loc[school_data_complete["grade"]=="9th"].groupby("school_name")["reading_score"].mean()

In [113]:
tenth_reading=school_data_complete.loc[school_data_complete["grade"]=="10th"].groupby("school_name")["reading_score"].mean()

In [114]:
eleventh_reading=school_data_complete.loc[school_data_complete["grade"]=="11th"].groupby("school_name")["reading_score"].mean()

In [115]:
twelfth_reading=school_data_complete.loc[school_data_complete["grade"]=="12th"].groupby("school_name")["reading_score"].mean()

In [107]:
reading_by_grade=pd.DataFrame({"9th":ninth_reading,
                            "10th":tenth_reading,
                            "11th":eleventh_reading,
                            "12th": twelfth_reading})



reading_by_grade["9th"]=reading_by_grade["9th"].map("{:.2f}".format)
reading_by_grade["10th"]=reading_by_grade["10th"].map("{:.2f}".format)
reading_by_grade["11th"]=reading_by_grade["11th"].map("{:.2f}".format)
reading_by_grade["12th"]=reading_by_grade["12th"].map("{:.2f}".format)

reading_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208